* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: rgb(182, 183, 184);
}
.clock-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  height: 8rem;
  width: 25rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 2px 5px rgb(51, 51, 51);
}
.header span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: monospace;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.heading {
  margin-bottom: 12px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(41, 41, 41);
}
.footer {
  height: 3rem;
  width: 25rem;
  background:rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  font-size: 2.5rem;
  text-align: center;
  font-family:monospace;
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px 5px rgb(51, 51, 51);
}
